@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*{
  padding:0;
  margin: 0;  
  cursor: default;
}

body{
    width: 100%;
    max-width: 1980px;
    background-color: rgba(255, 255, 255, 0.2);  
}



.header_all_container{
    
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1980px;
    
    background-color: rgba(255, 255, 255, 0.5);
}

.header_name_container{ 
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
}
.header_about_container{
    width: 13%;

    background-color: rgba(255, 255, 255, 0.5);
    
}
.header_hobby_container{
    width: 13%;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.header_goal_container{
    width: 13%;
    padding-right: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.header_name{
    opacity: 0.9;
    cursor: default;
    font-size: 5vw;
    padding-left: 20%;
    padding-top: 4%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}

.header_about{
    cursor: default;
    font-size: 2.5vw;
    padding-top: 44%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}
.header_about:hover{
    opacity: 0.8;
    cursor: default;
    font-size: 2.6vw;
    padding-top: 44%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}
.header_hobby{
    cursor: default;
    font-size: 2.5vw;
    padding-top: 44%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}
.header_hobby:hover{
    opacity: 0.8;
    cursor: default;
    font-size: 2.6vw;
    padding-top: 44%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}
.header_goal{
    cursor: default;
    font-size: 2.5vw;
    padding-top: 44%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}
.header_goal:hover{
    opacity: 0.8;
    cursor: default;
    font-size: 2.6vw;
    padding-top: 44%;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgb(0, 0, 0);
}

.about_all_container{
    display: inline;
    padding-top: 10%;
    width: 100%;
    max-width: 1980px;
}
.big_about{
    padding-top: 13%;
    padding-bottom: 3%;
    font-size: 5vw;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    color: rgba(0, 0, 0, 0.925);
}
.about_img{
    float: left;
    width: 45%;
    padding-left: 2%;
    padding-right: 2%;
}
.about_name{
    font-size: 2.5vw;
    padding-top: 4%;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
}
.about_text{
    padding-top: 2%;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.hobby_all_container{
    float: left;
    width: 100%;
    max-width: 1980px;
}

.big_hobby{
    padding-top: 13%;
    padding-bottom: 3%;
    font-size: 5vw;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgba(0, 0, 0, 0.925);
}
.hobby_img{
    float: left;
    width: 45%;
    padding-left: 2%;
    padding-right: 2%;
}
.hobby_name{
    font-size: 2.5vw;
    padding-top: 4%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.hobby_text{
    padding-top: 2%;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.goal_all_container{
    float: left;
    width: 100%;
    max-width: 1980px;
    height:100%;
    max-height: 500px;
}

.big_goal{
    padding-top: 13%;
    font-size: 5vw;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;font-weight:500;
    color: rgba(0, 0, 0, 0.925);
}

.goal_img{
    float: left;
    width: 45%;
    padding-bottom: 65px;
    padding-left: 2%;
    padding-right: 2%;
}

.goal_name{
    font-size: 2.5vw;
    padding-top: 6%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.goal_text{
    font-size: 1.5vw;
    padding-top: 5%;
    padding-bottom: 65px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}